/.github/
/_assets/
/scripts/
/*.yaml
*.md

lighthouserc.json
sonar-project.properties
.hound.yml

.eslintrc
.prettierrc.json
.stylelintrc.json

.gcloudignore
.git
.gitignore
#!include:.gitignore

/src/
/templates/style/
rollup.*.js
tsconfig.json
!node_modules
!dist

# Generated static files
!public/dist/
